.displayprice_wrap {
  margin-top: 10px;
  color: #605e5e;

  h2 {
    font-size: 16px;
    margin: 5px;
    color: #a8a8a8;
    font-weight: bold;
  }
  .displayprice {
    background: #f1f1f1;
    color: #747373;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }
}